*.zip
cache/*
*.sftp
node_modules/
*.json
*.rar
config/database.php
composer.lock
!/vendor/altiviaot/*
!/vendor/composer/autoload_classmap.php
/vendor/*

# -- Composer -----------------------------------------
composer.phar

# -- PHPUnit ------------------------------------------
app/phpunit.xml

# -- Editores -----------------------------------------
# sublimetext
/*.sublime-project
*.sublime-workspace

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.htaccess
*~